# data files >> see onedrive folder download
./data/Re*
src/runs/*
*.mat
*.txt
__pycache__/
*.mp4
*.csv
*skaro-ubuntu* # tensorboard upload files

# Folder view configuration files
.DS_Store
Desktop.ini

# Editor specific
.vscode

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
